/* $ingredients: (
  'foam': ('color': #fdfdfd),
  'steam': ('color': #f0eada),
  'half': ('color': #f0eada),
  'water': ('color': #c7dfdf),
  'espresso': ('color': #4d211d),
  'chocolate': ('color': #71471c),
  'crema': ('color': #ac6d44),
  'condensed': ('color': #f0eada)
); */



.Card{
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    display: flex;
    flex-direction: column;
    height: 350px;
    margin: 5px;
    padding: 5px;
    width: 250px;
}

.coffee-cup{

    width: 150px;
    height: 150px;
    border-radius: 5% 5% 30% 30%;
    border-style: solid;
    border-color: #fff;
    border-width: 0.5rem;
    margin: auto;
}

/* .coffee-ingredients{
    position: absolute;
    left: 0;
    height: auto;
    width: calc(100% - 1rem);
    margin: 0.5rem;
    bottom: 0;
    overflow: hidden;
} */