
.HotCard{
    align-items: center;
    /* background:rgba(0, 0, 0, 0.3); */
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    border: solid 2px transparent;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
    color:#fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 5px;
    padding: 5px;
    margin-left: 30px;
    margin-top: 30px;
    text-align: center;
    width: 250px;
}

.drink-steam {
    position: absolute;
    height: 10rem;
    width: 100%;
    bottom: 350px;
    left: 0;
}

.steam{
    position: relative;
    top:40px;
    left:10px;
    -webkit-animation: steam 7s linear infinite 3s;
    -moz-animation: steam 7s linear infinite 3s;
    -ms-animation: steam 7s linear infinite 3s;
    -o-animation: steam 7s linear infinite 3s;
    animation: steam 7s linear infinite 3s;
}

.steam:before,
.steam:after{
  content: " ";
  position: absolute;
  top:0;
  left:-15px;
  border-right: 0px solid transparent;
  border-top: 2px solid #fff;
  border-left: 5px solid #fff;
  border-bottom: 2px solid transparent;
  width: 40px;
  height: 70px;
  z-index: 8;
  border-radius: 80% 0 10% 10%; 

 -webkit-transform: rotate(168deg) skewY(10deg);
 -moz-transform: rotate(168deg) skewY(10deg);
 -ms-transform: rotate(168deg) skewY(10deg);
 -o-transform: rotate(168deg) skewY(10deg);
 transform: rotate(168deg) skewY(10deg);

 -webkit-filter: blur(7px);
 -moz-filter: blur(7px);
 -o-filter: blur(7px);
 -ms-filter: blur(7px);
  filter: blur(7px);
}

.steam:after{
    top:40px;
    left:-35px;
    z-index: 4;
    border-radius: 80% 0 10% 10%; 
    -webkit-transform: rotate(315deg) skewY(5deg);
    -moz-transform: rotate(315deg) skewY(5deg);
    -ms-transform: rotate(315deg) skewY(5deg);
    -o-transform: rotate(315deg) skewY(5deg);
    transform: rotate(315deg) skewY(5deg);
    
    -webkit-filter: blur(7px);
    -moz-filter: blur(7px);
    -o-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}
    
    
@-webkit-keyframes steam {
    0% { top: 100px; opacity: 0.5; visibility: visible; }
    20% { top: 80px; opacity: 0.8; }
    40% { top: 60px; opacity: 1; }
    60% { top: 40px; opacity: 0.8; }
    80% { top: 20px; opacity: 0.5; }
    100% { top: 0px; opacity: 0; visibility: hidden; }
}
    
@-moz-keyframes steam {
    0% { top: 100px; opacity: 0.3; visibility: visible; }
    20% { top: 80px; opacity: 0.8; }
    40% { top: 60px; opacity: 1.0; }
    60% { top: 40px; opacity: 0.8; }
    80% { top: 20px; opacity: 0.5; }
    100% { top: 0px; opacity: 0; visibility: hidden; }
}
    
@-ms-keyframes steam {
    0% { top: 100px; opacity: 0.5; visibility: visible; }
    20% { top: 80px; opacity: 0.8; }
    40% { top: 60px; opacity: 1.0; }
    60% { top: 40px; opacity: 0.8; }
    80% { top: 20px; opacity: 0.5; }
    100% { top: 0px; opacity: 0; visibility: hidden; }
}
    
@-o-keyframes steam {
    0% { top: 100px; opacity: 0.5; visibility: visible; }
    20% { top: 80px; opacity: 0.8; }
    40% { top: 60px; opacity: 1.0; }
    60% { top: 40px; opacity: 0.8; }
    80% { top: 20px; opacity: 0.5; }
    100% { top: 0px; opacity: 0; visibility: hidden; }
}
    
@keyframes steam {
    0% { top: 100px; opacity: 0.3; visibility: visible; }
    20% { top: 80px; opacity: 0.8; }
    40% { top: 60px; opacity: 1.0; }
    60% { top: 40px; opacity: 0.8; }
    80% { top: 20px; opacity: 0.3; }
    100% { top: 0px; opacity: 0; visibility: hidden; }
}




.cup{
    height: 150px;
    border-radius: 5% 5% 30% 30%;
    border-style: solid;
    border-color: #fff;
    border-width: 0.5rem;
    margin: auto;
    width: 150px;
}

.latte{
    background-image: linear-gradient(0deg, #4d211d 0%, #4d211d 30%, #f0eada 40%, #f0eada 80%, #fdfdfd 90%, #fdfdfd 100%);
    background-size: 134.00px 134.00px;
    border-radius: 5% 5% 30% 30%;
    height: 130px;
    margin: 10px;
    margin-right: 10px;
    width: 130px;
}

.bombon{
    background-image: linear-gradient(0deg, #f0dbb9 0%, #f0dbb9 70%, #4d211d 75%, #4d211d 100%);
    background-size: 134.00px 134.00px;
    border-radius: 5% 5% 30% 30%;
    height: 80px;
    margin: 10px;
    margin-right: 10px;
    margin-top: 60px;
    width: 130px;
}

.cappuccino{
    background-image: linear-gradient(0deg, #4d211d 0%, #4d211d 30%, #f0eada 35%, #f0eada 65%, #fdfdfd 70%, #fdfdfd 100%);
    background-size: 134.00px 134.00px;
    border-radius: 5% 5% 30% 30%;
    height: 130px;
    margin: 10px;
    margin-right: 10px;
    width: 130px;
}

.mocha{
    background-image: linear-gradient(0deg, #4d211d 0%, #4d211d 30%, #9b4a2f 35%, #9b4a2f 65%, #f0eada 70%, #f0eada 100%);
    background-size: 134.00px 134.00px;
    border-radius: 5% 5% 30% 30%;
    height: 130px;
    margin: 10px;
    margin-right: 10px;
    width: 130px;
}

.mocchiato{
    background-image: linear-gradient(0deg, #4d211d 0%, #4d211d 80%, #fdfdfd 80%, #fdfdfd 100%);
    background-size: 134.00px 134.00px;
    border-radius: 5% 5% 30% 30%;
    height: 80px;
    margin: 10px;
    margin-right: 10px;
    margin-top: 60px;
    width: 130px;
}

.mochaBreve{
    background-image: linear-gradient(0deg, #4d211d 0%, #4d211d 33.3%, #9b4a2f 33.3%, #9b4a2f 66.6%, #f0eada 66.6%, #f0eada 99.9%);
    background-size: 134.00px 134.00px;
    border-radius: 5% 5% 30% 30%;
    height: 130px;
    margin: 10px;
    margin-right: 10px;
    width: 130px;
}

.greenTea{
    background-color: #a8d55f;
    border-radius: 5% 5% 30% 30%;
    height: 130px;
    margin: 10px;
    margin-right: 10px;
    width: 130px;
}

.chaiTeaLatte{
    background-image: linear-gradient(0deg, #d8955b 27.61%, #d8955b 40%, #f0eada 40%, #f0eada 90%, #fdfdfd 90%, #fdfdfd 92%);
    background-size: 134.00px 134.00px;
    border-radius: 5% 5% 30% 30%;
    height: 130px;
    margin: 10px;
    margin-right: 10px;
    width: 130px;
}

.londonFog{
    background-image: linear-gradient(0deg, #b36e34 0%, #b36e34 10%, #660602 10%, #660602 45%, #ba6303 45%, #ba6303 50%, #f0eada 50%, #f0eada 90%, #fdfdfd 90%, #fdfdfd 95%, #c5b9dc 95%, #c5b9dc 100%);
    background-size: 134.00px 134.00px;
    border-radius: 5% 5% 30% 30%;
    height: 130px;
    margin: 10px;
    margin-right: 10px;
    width: 130px;
}

.drink-ingredients{
    align-items: center;
    color: #fff;
    text-align: center;
}